<div class="wrapper wrapper-content">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="widget style1 lazur-bg animated fadeInDown">
					<div class="row">
						<div class="col-xs-4">
							<i class="fa fa-database fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Api's </span>
							<h2 class="font-bold" ng-bind="boxData.boxStats.apis"></h2>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="widget style1 navy-bg animated fadeInDown">
					<div class="row">
						<div class="col-xs-4">
							<i class="fa fa-play fa-rotate-270 fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Successful Requests </span>
							<h2 class="font-bold" ng-bind="boxData.boxStats.success"></h2>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="widget style1 red-bg animated fadeInDown">
					<div class="row">
						<div class="col-xs-4">
							<i class="fa fa-play fa-rotate-90 fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Failed Requests </span>
							<h2 class="font-bold" ng-bind="boxData.boxStats.fails"></h2>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<a ng-click="openCreateApiModal()">
					<div class="widget style1 box-bg animated fadeInDown">
						<div class="row">
							<div class="col-xs-4 text-center">
								<i class="fa fa-plus fa-5x"></i>
							</div>
							<div class="col-xs-8 text-center">
								<h2 class="font-bold">Create</h2>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-12">
				<div class="ibox float-e-margins animated fadeInDown">
					<div class="ibox-title navy-bg text-center">
						<h5>Box Name: {{ boxData.boxName }} & Box ID: {{ boxData.boxId }}</h5>
					</div>
					<div class="ibox-content">
						<h5 ng-show="!boxData.apis" class="text-center">No API's found</h5>
						<table class="table table-hover margin bottom" ng-show="boxData.apis">
							<thead>
								<tr>
									<th style="width: 3%" class="text-center">#</th>
									<th class="text-center">Type</th>
									<th>API Name</th>
									<th>Request Link</th>
									<th>Host Link</th>
									<th>ApiKey</th>
									<th class="text-center">Info</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in boxData.apis">
									<td class="text-center">{{ $index + 1 }}</td>
									<td class="text-center"><span class="label" ng-class="{'get-label': x.apiType == 'GET', 'post-label': x.apiType == 'POST'}">{{ x.apiType }}</span></td>
									<td>{{ x.apiName }}</td>
									<td>https://proapi.co/api/{{ userData.info.uname }}/{{ boxId }}/{{ x.apiId }}</td>
									<td>{{ x.apiUrl }}</td>
									<td><span class="label url-label" clipboard supported="supported" text="x.apiKey" on-copied="copySuccess()">{{ x.apiKey }}</span></td>
									<td class="text-center"><button class="btn btn-primary dim" type="button" ng-click="openViewApiModal(x)"><i class="fa fa-external-link"></i> Manage</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="ibox float-e-margins animated fadeInDown">
					<div class="ibox-title navy-bg text-center">
						<h5>Logs</h5>
					</div>
					<div class="ibox-content">
						<h5 ng-show="!boxData.logs" class="text-center">No Log's found</h5>
						<table class="table table-hover margin bottom" ng-show="boxData.logs">
							<thead>
								<tr>
									<th style="width: 20%" class="text-center">#</th>
									<th>Latest <i class="fa fa-arrow-up"></i></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(key,x) in boxData.logs | limitTo: 5">
									<td class="text-center">{{ $index + 1 }}</td>
									<td>{{ x.log }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="ibox float-e-margins animated fadeInDown">
					<div class="ibox-title navy-bg text-center">
						<h5>Stats</h5>
					</div>
					<div class="ibox-content" ng-show="boxData.boxStats.hits == 0">
						<h5 class="text-center">Data insufficient</h5>
					</div>
					<div class="ibox-content" ng-show="!boxData.boxStats.hits == 0">
						<h5><b>Success / Total</b> Requests</h5>
						<h2>{{ boxData.boxStats.success }} / {{ boxData.boxStats.hits }}</h2>
						<div class="text-center">
							<span id="sparkline"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="ibox float-e-margins animated fadeInDown">
					<div class="ibox-title navy-bg text-center">
						<h5>Manage Box</h5>
					</div>
					<div class="ibox-content">
						<button type="button" class="btn btn-block btn-danger" ng-click="openDeleteBoxModal()"><i class="fa fa-trash-o"></i> Delete Box</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Create API Modal-->
<div class="modal inmodal fade" tabindex="-1" role="dialog" id="createApiModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content animated fadeInDown">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i><span class="sr-only">Close</span></button>
				<i class="fa fa-plus-square modal-icon text-navy"></i>
				<h4 class="modal-title">Create API for Box with ID: {{ boxId }}</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="apiForm">
					<div class="form-group">
						<label>API Name:</label>
						<input type="name" ng-model="apiName" placeholder="Enter API name" class="form-control" required ng-minlength="4">
						<span class="help-block m-b-non-e">Name should be of atleast length 4.</span>
					</div>
					<div class="form-group">
						<label>Request Type:</label>
						<select class="form-control" ng-model="apiType" ng-init="apiType='GET'" ng-options="option for option in type">
						</select>
						<span class="help-block m-b-none">Choose the type of http request you want to handle.</span>
					</div>
					<div class="form-group">
						<label>API ID: "This is the url to which you have to send request"</label>
						<div class="input-group">
							<span class="input-group-addon">https://proapi.co/api/{{ userData.info.uname }}/{{ boxId }}/</span>
							<input type="name" ng-model="apiId" placeholder="Enter API id" class="form-control" required ng-minlength="3">
						</div>
						<span class="help-block m-b-none">API id should not contain special characters and should be of length atleast 3.</span>
					</div>
					<div class="form-group">
						<label>Request URL: "This is the url to which the request will be send to"</label>
						<input type="url" ng-model="apiUrl" placeholder="Enter url" name="url" class="form-control" required>
					</div>
					<span ng-bind="formFill"></span>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-disabled="apiForm.$invalid" ng-click="createApi()">Create</button>
			</div>
		</div>
	</div>
</div>

<!--	View Api Modal	-->
<div class="modal inmodal fade" id="viewApiModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header navy-bg">
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i><span class="sr-only">Close</span></button>
				<h4 class="modal-title">{{ apiModal.apiName }}</h4>
			</div>
			<div class="modal-body">
				<h4>API ID: <strong>{{apiModal.apiId}}</strong></h4>
				<h4>Type: <span class="label get-label" ng-class="{'get-label': apiModal.apiType == 'GET', 'post-label': apiModal.apiType == 'POST'}">{{ apiModal.apiType }}</span></h4>
				<h4>Api Key: <span class="label url-label" clipboard supported="supported" text="x.apiKey" on-copied="copySuccess()">{{ apiModal.apiKey }}</span></h4>
				<h4>Box ID: <strong>{{ boxId }}</strong></h4>
				<h4>Request Link: <strong>https://proapi.co/api/{{ userData.info.uname }}/{{ boxId }}/{{ apiModal.apiId }}/</strong></h4>
				<h4>Host Link: <strong>{{ apiModal.apiUrl }}</strong></h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="openDeleteApiModal()">Delete</button>
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!--	Delete Api Modal	-->
<div class="modal inmodal fade" id="deleteApiModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header red-bg">
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Delete {{ apiModal.apiName }}</h4>
			</div>
			<div class="modal-body">
				<div class="form-group" name="deleteForm">
					<label>To delete your api, type your api's id : <span class="label label-danger">{{ apiModal.apiId }}</span></label>
					<input type="name" ng-model="apiId" placeholder="Enter API id" class="form-control" required>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-disabled="apiId != apiModal.apiId" ng-click="deleteApi()">Confirm</button>
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!--	Delete Box Modal	-->
<div class="modal inmodal fade" id="deleteBoxModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header red-bg">
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Delete Box: {{ boxData.name }} </h4>
			</div>
			<div class="modal-body">
				<div class="form-group" name="deleteForm">
					<label>To delete your box, type your box's id : <span class="label label-danger">{{ boxId }}</span></label>
					<input type="name" ng-model="bId" placeholder="Enter Box id" class="form-control" required>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-disabled="bId != boxId" ng-click="deleteBox()">Confirm</button>
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
