<div class="wrapper wrapper-content">
	<div class="container">
		<!--	Statistics	-->
		<div class="row">
			<div class="col-sm-3">
				<div class="widget style1 red-bg animated fadeInDown">
					<div class="row">
						<div class="col-xs-4 text-center">
							<i class="fa fa-btc fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Unocoin Wallet </span>
							<h2 class="font-bold">{{ userData.wallet }}</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="widget style1 blue-bg animated fadeInDown">
					<div class="row">
						<div class="col-xs-4 text-center">
							<i class="fa fa-btc fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Bitcoin in hand </span>
							<h2 class="font-bold" ng-bind="userData.bih"></h2>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="widget style1 navy-bg animated fadeInDown">
					<div class="row">
						<div class="col-xs-4">
							<i class="fa fa-play fa-rotate-270 fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Profit </span>
							<h2 class="font-bold" ng-bind="userData.profit | number: 2"></h2>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="widget style1 lazur-bg animated fadeInDown">
					<div class="row">
						<div class="col-xs-4">
							<i class="fa fa-inr fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Current <i class="fa fa-btc"></i> to <i class="fa fa-inr"></i> Value </span>
							<h2 class="font-bold" ng-bind="inr"></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<!--	Boxes Display	-->
		<div class="row">
			<div class="col-sm-4">
				<div class="ibox float-e-margins animated fadeInDown">
					<div class="ibox-title navy-bg text-center">
						<h5>Rocket Science Control</h5>
					</div>
					<div class="ibox-content text-center">
						<button class="btn btn-outline btn-success dim" type="button" ng-click="openInvestModal()"><i class="fa fa-plus"></i> Invest</button>
						<button class="btn btn-outline btn-danger dim" type="button" ng-click="openWithdrawModal()"><i class="fa fa-minus"></i> Withdraw</button>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="ibox float-e-margins animated fadeInDown">
					<div class="ibox-title navy-bg text-center">
						<h5>Logs</h5>
					</div>
					<div class="ibox-content">
						<h5 ng-show="!userData.logs" class="text-center">No Log's found</h5>
						<table class="table table-hover margin bottom" ng-show="userData.logs">
							<thead>
								<tr>
									<th>#</th>
									<th>Invested / Withdrawn</th>
									<th>BTC</th>
									<th>NAV (INR)</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(key,x) in userData.logs | limitTo: 5">
									<td>{{ $index + 1 }}</td>
									<td><span class="label" ng-class="{'get-label': x.inv_with == false, 'post-label': x.inv_with == true}">{{ x.inv_with === false ? 'Invested' : 'Withdrawn' }}</span></td>
									<td>{{ x.btc }}</td>
									<td>{{ x.inr }}</td>
									<td>{{ x.date }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Invest Modal-->
<div class="modal inmodal fade" tabindex="-1" role="dialog" id="investModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content animated fadeInDown">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Invest Bitcoins</h4>
			</div>
			<div class="modal-body" ng-init="amount=1;confValue='CONFIRM'">
				<form role="form" name="investForm">
					<div class="form-group">
						<label>Enter amount of BTC:</label>
						<input type="number" ng-model="amount" min="1" class="form-control" required>
					</div>
					<div class="form-group">
						<label>To invest from your wallet, type 'CONFIRM':</label>
						<input type="name" ng-model="askConfirm" class="form-control" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-disabled="askConfirm != confValue && amount>0" id="button_load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" ng-click="investAmount()">Add</button>
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!--Withdraw Modal-->
<div class="modal inmodal fade" tabindex="-1" role="dialog" id="withdrawModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content animated fadeInDown">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Withdraw Bitcoins</h4>
			</div>
			<div class="modal-body" ng-init="amount=1;confValue='CONFIRM'">
				<form role="form" name="investForm">
					<div class="form-group">
						<label>Enter amount of BTC:</label>
						<input type="number" ng-model="amount" min="1" class="form-control" required>
					</div>
					<div class="form-group">
						<label>To withdraw to your Unocoin wallet, type 'CONFIRM':</label>
						<input type="name" ng-model="askConfirm" class="form-control" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-disabled="askConfirm != confValue && amount>0" id="button_load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" ng-click="withdrawAmount()">Withdraw</button>
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!--
<div class="modal inmodal fade" tabindex="-1" role="dialog" id="qq">
	<div class="modal-dialog" role="document">
		<div class="modal-content animated fadeInDown">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i><span class="sr-only">Close</span></button>
				<i class="fa fa-plus-square modal-icon text-navy"></i>
				<h4 class="modal-title">Invest Bitcoins</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="createBoxForm">
					<div class="form-group">
						<label>Box Name:</label>
						<input type="name" ng-model="box.boxName" placeholder="Enter box name" class="form-control" ng-minlength="4" ng-maxlength="16" required>
						<span class="help-block m-b-none">Box name should be of length 4 atleast.</span>
					</div>
					<div class="form-group">
						<label>Box ID:</label>
						<div class="input-group">
							<span class="input-group-addon">https://proapi.co/api/{{ userData.info.uname }}/</span>
							<input type="name" ng-model="box.boxId" placeholder="Enter box id" class="form-control" required ng-minlength="3" ng-maxlength="8">
						</div>
						<span class="help-block m-b-none">Box id should not contain special characters and should be of length atleast 3.</span>
					</div>
					<div class="alert alert-danger" ng-show="errDiv" ng-bind="errMsg"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-disabled="createBoxForm.$invalid" ng-click="createBox()">Create</button>
			</div>
		</div>
	</div>
</div>
-->
