<div class="middle-box animated fadeInDown">
	<div class="ibox float-e-margins">
		<div class="ibox-title sign text-center">
			<h5>Project X - Sign In / Sign Up</h5>
		</div>
		<div class="ibox-content" style="display: block;">
			<div class="row">
				<div class="col-sm-6 b-r">
					<h3 class="m-t-none m-b">Sign Up</h3>
					<form role="form" name="registerForm" ng-submit="createUser()">
						<div class="form-group">
							<label>Email:</label>
							<input type="email" ng-model="user.email" placeholder="Enter email" class="form-control" required>
							<span class="help-block m-b-none">Valid email to confirm your account.</span>
						</div>
						<div class="form-group">
							<label>Password:</label>
							<input type="password" ng-model="user.pass1" placeholder="Password" class="form-control" required ng-minlength="8">
							<span class="help-block m-b-none">Password length should be atleast 8</span>
						</div>
						<div class="form-group">
							<label>Confirm Password:</label>
							<input type="password" ng-model="user.pass2" placeholder="Confirm Password" class="form-control" required ng-minlength="8">
						</div>
						<div>
							<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-disabled="registerForm.$invalid" id="button_load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting"><strong>Sign Up</strong></button>
						</div>
					</form>
				</div>
				<div class="col-sm-6">
					<h4>Already a member?</h4>
					<p>You can sign in here:</p>
					<p class="text-center">
						<a href="#!/login"><i class="fa fa-sign-in big-icon"></i></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
